.image-block{
  margin-top: 5.1rem;
  border-radius: 20px;
  overflow: hidden;
  @include bp(sm){
    border-radius: 10px;
    margin-top: 2rem;
    height: 22rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// history
.history{
  &-section{
    @include bp(lg-up){
      margin-bottom: 6.5rem;
    }
  }
  &-slider{
    @include bp(sm){
      padding-right: 40.7%;
      margin-right: -1rem;
    }
  }
  &-item{
    @include bp(lg-up){
      padding-right: 1rem;
    }
    &__date{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.5rem;
      height: 8.5rem;
      border: 1px solid $black;
      border-radius: 50%;
      margin: 0.4rem 0 1.1rem;
      padding-bottom: 0.3rem;
      font-size: 4rem;
      line-height: 4.8rem;
      @include bp(sm){
        font-size: 3.2rem;
        line-height: 4rem;
        width: 7rem;
        height: 7rem;
        padding: 0;
        margin: 1rem 0;
      }
    }
    .text_size-md{
      @include bp(sm){
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }
  }
}

// team
.team{
  &-slider{
    @include bp(sm){
      padding-right: 47.2%;
      margin-right: -1rem;
      padding-top: 0.9rem;
    }
  }
  &-prev, &-next{
    bottom: auto;
    top: 28%;
  }
  &-prev{
    @include bp(lg-up){
      margin-left: -0.9rem;
    }
  }
  &-next{
    @include bp(lg-up){
      margin-right: 1.1rem;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    &__image {
      border-radius: 50%;
      overflow: hidden;
      @include bp(sm){
        width: 15rem;
        height: 15rem;
      }
    }
    &__name {
      margin: 2.4rem 0 0.9rem;
      @include bp(sm){
        margin: 2.5rem 0 0.4rem;
      }
    }
  }
}

// gallery
.gallery{
  &-slider{
    @include bp(sm){
      margin-right: -1rem;
      padding-right: 15%;
      .image-block{
        height: 22.6rem;
      }
    }
  }
  &-modal{
    &-slider{
      border-radius: 20px;
      margin-bottom: 1rem;
      @include bp(sm){
        border-radius: 10px;
      }
    }
    &-prev, &-next{
      bottom: 1.1rem;
    }
  }
}
.thumbs-slider{
  padding-right: 10%;
  border-radius: 10px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background: linear-gradient(270deg, #181818 16.96%, rgba(24, 24, 24, 0) 100%);
    width: 10%;
  }
  .swiper-slide{
    height: 15.4rem;
    border-radius: 10px;
    @include bp(sm){
      height: 8rem;
      border-radius: 5px;
    }
    @include bp(hv){
      cursor: pointer;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
      border: 3px solid #fff;
      opacity: 0;
      z-index: 2;
      transition: all 0.3s ease-out;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    &.swiper-slide-thumb-active{
      &:before{
        opacity: 1;
      }
    }
  }
}

//certificates
.certificates{
  &-nav{
    @include bp(sm){
      margin: 2rem 0;
    }
  }
  &-slider{
    margin: 4rem 0;
    @include bp(sm){
      margin: 2rem 0;
      margin-right: -1rem;
      padding-right: 4.7%;
    }
  }
  &-prev, &-next{
    bottom: 0.6rem;
  }
}