.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.6rem 2.35rem 1.4rem;
    line-height: 2.4rem;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    position: relative;
    border: 1px solid $black;
    flex-shrink: 0;
    &:disabled, &.disabled{
        cursor: default;
        pointer-events: none;
        background: gray;
        color: #000;
    }
    @include bp(hv){
        color: #fff;
        background: $black;
    }
    @include bp(md){
      font-size: 1.2rem;
      line-height: 2rem;
      padding: 0.7rem 1.55rem;
    }
    &.flex-column{
        padding: 0.6rem 4rem;
        .text_size-xs{
            font-weight: 500;
            margin: -0.1rem 0;
        }
    }
    &__icon{
        margin: -0.7rem 0.8rem -0.5rem 0;
    }
    &_inversion{
        transition: none;
        background: #fff;
        color: $black;
        border-color: transparent;
        @include bp(hv){
            &:hover{
                background: #f7f7f8;
                color: $black;
            }
        }
    }
    &_dark{
        background: $black;
        color: #fff;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
    &_light{
        background: #f7f7f8;
        border-color: transparent;
        color: $black;
        @include bp(hv){
            &:hover{
                background: #e0dfe3;
                color: $black;
            }
        }
    }
    &_outline{
        border: 1px solid $black;
        background: #fff;
        color: $black;
        @include bp(hv){
            &:hover{
                background: #f7f7f8;
                border: 1px solid #e0dfe3;
            }
        }
    }
    &_transparent{
        border: 1px solid #fff;
        background: none;
        color: #fff;
        @include bp(hv){
            &:hover{
                background: rgba(255,255,255,0.2);
            }
        }
    }
    &_success{
        background: $success;
        border-color: $success;
        color: #fff;
        @include bp(hv){
            &:hover{
                color: #fff;
                background: $success-b;
                border-color: $success-b;
            }
        }
    }
    &_form{
        @include bp(md){
            min-height: 5.6rem;
        }
        @include bp(sm){
            font-size: 1.4rem;
            line-height: 2.2rem;
            min-height: 4.8rem;
            .btn__icon{
                margin-top: -0.5rem;
            }
        }
        &-lg{
            @include bp(sm){
                min-height: 5.4rem;
            }
        }
    }
    &_size{
        &-xs{
            padding: 0.5rem 1.1rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
        &-sm{
            padding: 1.1rem 1.8rem 0.9rem;
            @include bp(sm){
                padding: 0.8rem 1.4rem;
            }
        }
        &-md{
            padding: 1.2rem 2.35rem 1rem;
            @include bp(md){
                padding: 0.7rem 1.4rem;
                .btn__icon {
                    margin: -0.2rem 0.7rem -0.5rem 0;
                    width: 2.2rem;
                    height: 2.2rem;
                }
            }
        }
        &-lg{
            min-width: 27rem;
            @include bp(md){
                padding: 1.5rem 1.55rem;
              }
        }
    }
    &_mobile{
        @include bp(md){
            font-size: 1.6rem;
            line-height: 2.4rem;
            padding: 1.2rem 2.35rem 1rem;
        }
    }
}


