.popular-slider, .recommend-sliderб .additionally-slider{
  @include bp(md){
    margin-right: -1rem;
    padding-right: 1.5rem;
    &_margin{
      margin-bottom: -0.7rem;
    }
  }
}
.catalogue{
  &-list{
    display: grid;
    grid-template-columns: repeat(3, 29.6%);
    grid-gap: 4rem 2rem;
  }
  &-item{
    .popular-slider &{
      margin-bottom: 0;
      @include bp(md){
        margin-top: 0.5rem;
      }
    }
    &__image{
      position: relative;
      margin-bottom: 2rem;
      border-radius: 20px;
      overflow: hidden;
      display: block;
      @include bp(md){
        border-radius: 10px;
        margin-bottom: 0.9rem;
      }
      @include bp(hv){
        &:hover{
          .catalogue-item__tags, .catalogue-item__hidden{
            opacity: 1;
          }
        }
      }
      img{
        display: block;
        width: 100%;
      }
      .mark{
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 0.2rem 0.8rem;
        border-radius: 5px;
      }
    }
    &__tags{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      transition: all 0.3s ease-out;
    }
    &__tag{
      background: rgba(255, 255, 255, 0.16);
      backdrop-filter: blur(6.5px);
      font-weight: bold;
      margin: 0 1.1rem 1rem 0;
      padding: 0.6rem 1.2rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
      border-radius: 30px;
      color: #fff;
    }
    &__hidden{
      transition: all 0.3s ease-out;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1.2rem 1rem;
      background: rgba(255, 255, 255, 0.16);
      backdrop-filter: blur(6.5px);
      color: #fff;
      opacity: 0;
    }
    &__price{
      margin: 1.2rem 0 1.4rem;
      @include bp(md){
        margin: 0.2rem 0 0.3rem;
      }
    }
    &__name{
      display: block;
      margin-bottom: 1.9rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include bp(md){
        margin-bottom: 1rem;
      }
    }
    &__rating{
      margin: 0.5rem 2.6rem 0.5rem 0;
    }
  }
}
.stock{
  margin-left: 2rem;
  @include bp(xl){
    margin-left: 1rem;
  }
  @include bp(md){
    margin: 0.8rem 0 0;
  }
}
.price{
  font-size: 3.2rem;
  line-height: 4rem;
  @include bp(md){
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}
.price_old{
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-decoration: none;
  position: relative;
  margin: 0 1.5rem;
  @include bp(md){
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin: 0 1.3rem 0 0.7rem;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    left: -0.2rem;
    right: -0.2rem;
    margin: auto 0;
    height: 0.1rem;
    background: $danger;
    @include bp(md){
      right: -0.5rem;
    }
  }
}
.discount{
  font-size: 2.4rem;
  line-height: 3.2rem;
  @include bp(md){
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
.mark{
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 0.2rem 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  &_success{
    background: $success-bg;
    color: $success;
  }
  &_primary{
    background: $primary-bg;
    color: $primary;
  }
  &_warning{
    background: $warning-bg;
    color: $warning;
  }
  &_danger{
    background: $danger-bg;
    color: $danger;
  }
}

// category-nav
.category{
  &-nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.8rem 2rem;
    &_dropdown{
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.3rem;
      @include bp(lg){
        grid-template-columns: repeat(2, 1fr);
      }
      @include bp(md){
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
      @include bp(xs){
        grid-template-columns: repeat(2, 1fr);
      }
      .category-link{
        border-radius: 10px;
        padding-top: 1.4rem;
        @include bp(md){
          padding-top: 0;
        }
      }
      .category-link__title{
        top: 1rem;
        left: 1rem;
        @include bp(md){
          top: 0.9rem;
          left: 0.9rem;
        }
      }
      .category-link__image{
        width: 8.6rem;
      }
    }
  }
  &-link{
    padding: 0;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    @include bp(md){
      border: none;
    }
    &__title{
      font-weight: 600;
      position: absolute;
      top: 2rem;
      left: 2rem;
      max-width: 50%;
      text-align: left;
      &:not(.text_size-md){
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
      @include bp(md){
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }
  }
}
.main{
  flex-grow: 1;
}

// nav-slider
.nav-slider{
  margin: 2.8rem 0 3rem;
  &__link {
    width: auto !important;
  }
}

// filter
.filter{
  align-self: flex-start;
  width: 28rem;
  margin-right: 4.4rem;
  padding: 2.1rem 1.5rem 0.5rem 2.4rem;
  position: relative;
  border-radius: 20px;
  border: 1px solid $black;
  flex-shrink: 0;
  &__title{
    font-size: 2.8rem;
    line-height: 4rem;
    margin-bottom: 2.3rem;
    @include bp(lg-up){
      &:hover{
        color: $black;
        cursor: default;
      }
    }
    &_margin{
      margin: 0.2rem 0 1.9rem;
    }
  }
  &__collapse{
    @include bp(lg-up){
      height: auto!important;
      display: block!important;
    }
  }
  &__body{
    padding-bottom: 0.2rem;
  }
  &__group{
    &_bordered{
      border-bottom: 1px solid $black;
      margin-bottom: 2.2rem;
      .filter__body{
        padding-bottom: 0.4rem;
      }
    }
  }
  &__footer{
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -4.8rem;
    opacity: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem 1.5rem 1.5rem;
    min-width: 17.1rem;
    transition: opacity 0.3s ease-out;
    z-index: 5;
    &.show{
      opacity: 1;
    }
  }
}
.input-list{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  &__item{
    margin-bottom: 1.9rem;
  }
}
.links-list{
  &__item{
    margin-bottom: 1.5rem;
  }
}

// sort
.sort{
  &-block{
    margin-bottom: 3rem;
  }
  &-list {
    @include bp(lg-up){
      position: static;
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: block;
      margin: 0;
    }
    &__link {
      color: $light;
      margin-right: 3rem;
      &.active{
        color: $black;
      }
      @include bp(hv){
        &:hover{
          color: $black;
        }
      }
    }
  }
}

// watched
.watched-slider{
  padding-top: 0.4rem;
}
.watch-item {
  &__image {
    border-radius: 15px;
    margin-right: 1.5rem;
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
  }
  &__text {
    width: calc(100% - 11.5rem);
  }
  &__name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
  }
  &__price {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: -0.3rem;
    span{
      font-size: 2rem;
    }
  }
  &__btn {
    width: 4rem;
    height: 4rem;
    align-items: center;
    padding: 0;
    margin-left: 2.2rem;
    .icon{
        width: 2rem;
        height: 2rem;
    }
  }
}

.linking-section{
  @include bp(lg-up){
    margin-bottom: 5.8rem;
  }
}