@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/Bebas_Neue.woff2") format("woff2"),
    url("../fonts/Bebas_Neue.woff") format("woff"),
    url("../fonts/Bebas_Neue.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// font-family: 'Bebas Neue', sans-serif;
// font-family: 'Montserrat', sans-serif;