$black: #252525;
$dark: #6e6b7c;
$light: #acaab4;
$medium-light: #acaab4;

$primary: #007BFB;
$danger: #F04438;
$warning: #FFA621;
$success: #12B76A;
$primary-bg: #D9EBFF;
$danger-bg: #FDE3E1;
$success-bg: #DCF4E9;
$warning-bg: #FFF2DE;
$primary-b: #0062C8;
$danger-b: #E23E32;
$warning-b: #E98C00;
$success-b: #089F59;





