
@import 'fonts';
@import 'reset';
@import 'mixin';
@import 'variables';
@import 'vendor';
@import 'icons';
@import 'buttons';
@import 'typography';






body{
    font: 500 1.8rem/3rem 'Montserrat', sans-serif;
    color: $black;
    background: #fff;
    &.overflow-none{
        overflow: hidden;
    }
    @include bp(md){
        padding-top: 7.2rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}
.wrap{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    width: 100%;
    @include bp(xxl-up){
        max-width: 1306px;
    }
    @include bp(md){
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.section{
    margin-bottom: 7.5rem;
    @include bp(md){
        margin-bottom: 2.8rem;
    }
    &_md{
        margin-bottom: 6.6rem;
        @include bp(md){
            margin-bottom: 2.8rem;
        }
    }
    &_last{
        margin-bottom: 6rem;
        @include bp(sm){
            margin-bottom: 3rem;
        }
    }
}
.bg{
    &_light{
        background: $light-bg;
    }
    &_pattern{
        background: url(../img/pattern.png), linear-gradient(99.75deg, #252525 9.11%, #373737 78.91%);
    }
    &_dark{
        background: $black;
    }
}
.pos-rel{
    position: relative;
}
.img-fluid{
    display: block;
    max-width: 100%;
}
.w-100{
    width: 100%!important;
    &_lg{
        @include bp(lg-up){
            width: 100%;
        }
    }
    &_md{
        @include bp(md){
            width: 100%;
        }
    }
    &_sm{
        @include bp(sm){
            width: 100%;
        }
    }
}
.row{
    margin-left: -1rem;
    margin-right: -1rem;
    @include bp(sm){
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    & > *{
        padding-left: 1rem;
        padding-right: 1rem;
        @include bp(sm){
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    &_md{
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        & > *{
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
}

// swiper
.slider-wrapper{
    position: relative;
}
.swiper{
    &-pagination{
        position: static;
        display: flex;
        justify-content: center;
        &-bullet{
            width: 1rem;
            height: 1rem;
            margin: 1.5rem 0.5rem 0!important;
            opacity: 1;
            background: rgba(47, 43, 67, 0.15);
            transition: all 0.3s ease-out;
            &-active{
               background:  $black;
            }
            @include bp(hv){
                &:hover{
                    background:  $black;
                }
            }
        }
        &_lg{
            .swiper-pagination-bullet{
                width: 1.2rem;
                height: 1.2rem;
                margin: 2rem 0.7rem 0!important;
            }
        }
    }
    &-btn{
        display: flex;
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 50%;
        padding: 0;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: -7rem;
        z-index: 5;
        @include bp(xl){
            left: -4rem;
        }
        @include bp(lg){
            left: -2.6rem;
        }
        &.swiper-next{
            left: auto;
            right: -7rem;
            @include bp(xl){
                right: -4rem;
            }
            @include bp(lg){
                right: -2.6rem;
            }
        }
        @include bp(sm){
            display: none;
        }
        &_top{
            top: 15.3rem;
            bottom: auto;
        }
        &_full{
            position: absolute;
            top: 0;
            bottom: 2.5rem;
            width: 6.4rem;
            left: 0;
            opacity: 0.3;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            &.swiper-next{
                left: auto;
                right: 0;
            }
            @include bp(hv){
                &:hover{
                    background: rgba(255, 255, 255, 0.05);
                    opacity: 1;
                }
            }
            @include bp(md){
                opacity: 1;
            }
            @include bp(sm){
                bottom: 0rem;
                width: 4rem;
            }
        }
    }
}

// lists
.num-list{
    @include bp(sm){
        margin-bottom: 2rem;
    }
    &__item{
        counter-increment: list;
        position: relative;
        padding-left: 3.9rem;
        margin-bottom: 1rem;
        @include bp(sm){
            padding-left: 2.8rem;
        }
        &:before{
            content: counter(list);
            display: flex;
            width: 2.4rem;
            height: 2.4rem;
            color: #fff;
            background: $black;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.6rem;
            line-height: 2.4rem;
            @include bp(sm){
                width: 1.8rem;
                height: 1.8rem;
                font-size: 1.2rem;
                line-height: 2rem;
                top: 0.2rem;
            }
        }
    }
}
.dots-list{
    &__item{
        counter-increment: list;
        position: relative;
        padding-left: 2.7rem;
        margin-bottom: 1rem;
        @include bp(sm){
            padding-left: 1.8rem;
        }
        &:before{
            content: '';
            display: flex;
            width: 1.2rem;
            height: 1.2rem;
            background: $black;
            border-radius: 50%;
            position: absolute;
            top: 0.9rem;
            left: 0;
            @include bp(sm){
                width: 0.8rem;
                height: 0.8rem;
                top: 0.7rem;
            }
        }
    }
}

// breadcrumb
.breadcrumb{
    margin: 1rem 0 0.4rem;
    flex-wrap: wrap;
    color: $light;
    @include bp(md){
        margin: 1.7rem 0 0.5rem;
    }
    &_margin{
        @include bp(lg-up){
            margin-bottom: 2.2rem;
        }
    }
    &__item{
        margin-bottom: 1rem;
    }
    &__item+&__item{
        &:before{
            content: '/';
            display: inline-block;
            margin: 0 1.1rem;
            @include bp(md){
                margin: 0 0.55rem;
            }
        }
    }
}

// pagination
.pagination{
    margin: 6.2rem 0 7.4rem;
    @include bp(xl-up){
        padding-right: 34%;
    }
    @include bp(md){
        margin: 2.8rem 0 2.9rem;
    }
    &__item{
        margin: 0 0.75rem;
    }
    &__link{
        border: 1px solid rgba(47, 43, 67, 0.15);;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 4.8rem;
        height: 4.8rem;
        color: rgba(47, 43, 67, 0.5);
        &.active{
            border-color: $black;
            color: $black;
        }
        @include bp(hv){
            &:hover{
                border-color: $black;
                color: $black;
            }
        }
        @include bp(sm){
            width: 3.8rem;
            height: 3.8rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
        &.disabled{
            border-color: transparent;
            background: rgba(47, 43, 67, 0.04);
            pointer-events: none;
            .icon-prev-inversion{
                background-image: url(../img/icons/prev-disabled.svg);
            }
            .icon-next-inversion{
                background-image: url(../img/icons/next-disabled.svg);
            }
        }
        .icon{
            margin-top: -0.2rem;
        }
    }
}

// file
.file-item{
    border-radius: 10px;
    margin-bottom: 1.4rem;
    padding: 1.5rem 2rem;
    @include bp(sm){
        border-radius: 10px;
    }
    &.collapse{
        display: none!important;
    }
    &__title{
        margin-bottom: -0.1rem;
        @include bp(sm){
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
    &__icon{
      margin-left: auto;
      flex-shrink: 0;
    }
    &__format{
        margin: 0 3.3rem 0 1rem;
    }
}

// border-block
.border-block{
    border: 1px solid $black;
    padding: 2.9rem 2.9rem 2rem;
    border-radius: 20px;
    overflow: hidden;
    @include bp(md){
      padding: 1.4rem 1.4rem 0.6rem;
      border-radius: 10px;
    }
    &__icon{
      margin-bottom: 2.8rem;
      flex-shrink: 0;
      @include bp(md){
        width: 5rem;
        margin-bottom: 0.9rem;
      }
      &_margin{
        margin: 3.6rem 0 0.7rem;
        @include bp(md){
          margin-top: 0;
        }
        @include bp(sm){
            width: 4.2rem;
            height: 4.2rem;
            margin: 0 2rem 1rem 0;
            align-self: center;
        }
      }
    }
    &_padding{
      padding: 2.3rem 2.9rem 2rem;
      @include bp(sm){
        padding: 12px 14px 0.6rem;
      }
    }
    &.bg_light{
      border: none;
      border: 1px solid $light-bg;
      padding: 2.6rem 2.9rem 2rem;
      @include bp(sm){
        border-radius: 20px;
        padding: 1.1rem 1.4rem 0.6rem;
        &.text_size-md{
            font-size: 1.2rem;
            line-height: 2rem;
        }
      }
    }
}

// payment-list
.payment-list{
    &__item{
        margin: 0 0.5rem;
        width: 5.8rem;
        height: 4rem;
        @include bp(xl){
            width: 5rem;
            height: 3rem;
        }
        @include bp(lg){
            width: 5.8rem;
            height: 4rem;
        }
    }
    &_margin{
        margin: 1.9rem 0 0 -0.7rem;
        @include bp(lg){
            margin-left: 0;
        }
        @include bp(sm){
            margin: 2rem 0 0.8rem -0.7rem;
        }
        .payment-list__item{
            margin: 0 0.7rem;
            @include bp(lg){
                margin: 0;
            }
            @include bp(sm){
                margin: 0 0.7rem;
            }
        }
    }
}

@import 'form';
@import 'header';
@import 'home';
@import 'reviews';
@import 'catalogue';
@import 'blog';
@import 'faq';
@import 'footer';
@import 'card';
@import 'about';

.pane-nav{display: none!important;}





